<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">

    <title>Galeria de imagens</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Destaques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Preços</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="form-card col-lg-12">
            <div class="nav navbar">
                <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Adicionar Imagem
                </a>
            </div> 
            <div class="collapse col-lg-12" id="collapseExample">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Titulo da Imagem</label>
                        <input type="text" v-model="titulo" class="form-control" id="formGroupExampleInput"
                            placeholder="Digite o titulo da imagem">
                    </div>

                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Imagem</label>
                            <input type="file" v-model="url" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </form>
                    <button data-toggle="collapse" href="#collapseExample"  type="submit" class="btn btn-outline-dark">Montar card</button>

                </form>
            </div>

        </div>

        <div class="navbar navbar-dark bg-dark">
            <h2 class="titulo-galeria">Galeria</h2>
        </div>

        <div id="galeria" class="col-lg-12">
            <card></card>
        </div>

    </div>

    <script type="text/javascript">9
        new Vue[{
            el: '#app',
            components: {
                'cadastro': {

                },
                'card': {

                },
            }
        }]
    </script>
</body>

</html>